- const cardWidth = 128;
- const cardHeight = 178;
- const cardGap = 8;

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/index.js" type="module")
        title Shenzhen Solitaire
    body
        svg#table(xmlns="http://www.w3.org/2000/svg")
            each val, i in [,,,]
                g.card-slot.card-slot-for-dragon(transform=`translate(${(cardWidth + cardGap) * i},0)`)
                    rect(x=0 y=0 width=cardWidth height=cardHeight rx=5 stroke=black fill=none)
            
            g.card-slot.card-slot-for-flower(transform=`translate(${(cardWidth + cardGap * 2) * 3},0)`)
                    rect(x=0 y=0 width=cardWidth height=cardHeight rx=5 stroke=black fill=none)

            each val, i in [,,,]
                g.card-slot.card-slot-for-collection(transform=`translate(${(cardWidth + cardGap) * (i + 5)},0)`)
                    rect(x=0 y=0 width=cardWidth height=cardHeight rx=5 stroke=black fill=none)

            each val, i in [,,,,,,,,]
                g.card-slot(transform=`translate(${(cardWidth + cardGap) * i},${cardHeight + cardGap * 4})`)
                    rect(x=0 y=0 width=cardWidth height=cardHeight rx=5 stroke=black fill=none)